<!-- Header - set the background image for the header in the line below -->
  <div class=”wrapper”>
    {% if image.image %}
    <img class="img-fluid d-block mx-auto" src="{{ image.image.url }}" alt="">
    {% endif %}  
  </div>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h2 align="center"><a class="profile" href="{% url 'profile' %}">{{ image.user }}</a></h2>
      <p class="lead" align="center">{{ image.user.alter_ego }}</p>
    </div>
  </section>
